<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mybatis demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
    <script th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
</head>
<!-- Header -->
<body>
    <div class="wrapper">
        <div class="middle">
            <h1 style="padding: 50px 0 20px;">国家(地区)列表</h1>

        </div>
    </div>
</body>
</html>